@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

* {
    font-family: Ubuntu;
    margin: 0;
    box-sizing: border-box;
    color: #cdd6f4;
    scroll-behavior: smooth;
}

header,
footer,
main,
nav {
    background-color: var(--ctp-mocha-base);
    padding: 3%;

}

footer,
header {
    background-color: var(--ctp-mocha-mantle);
}

nav {
    font-size: large;
    display: grid;
    gap: 20px;
    border-radius: 10px;

}

a {
    text-decoration: none;
}

nav a:hover {
    font-weight: 700;
    color: var(--ctp-mocha-blue)
}

button {
    background-color: transparent;
    font-size: 3rem;
    border: none
}

button:hover {
    color: #a6adc8
}

.hidden {
    display: none;
}

main .cardGrid {
    display: grid;
    gap: 20px;
}

.textgrid {
    display: grid;
    gap: 20px;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fit;

}
h4 a:hover{
    color: #a6adc8
}
.imgbox {
    padding: 0;
    border-radius: 10px;
}

.card {
    display: grid;
    padding: 10px;
}

.spacing {
    padding: 10px
}





@media (min-width: 600px) {
    main .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .textgrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .imgbox {
        aspect-ratio: 1/2;
        overflow: hidden;
    }

    nav {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        place-items: center;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}