*{
    box-sizing: border-box;
    margin: 0;
}
html {
    background-color: #11111b;
}

header,
main,
footer,
nav,
.content {
    border: 1px solid #cba6f7;
    min-height: 3vh;
    background-color: #1e1e2e;
}
header{
    position:fixed;
    width:100%;
}
header>button {
    border: none;
    background-color: transparent;
    font-size: 3rem;
}

main {
    min-height: 40vh;
    padding-top: 20vh;
}

.content {
    min-height: 60vh;
    display: none;
}

:target {
    display: block;
}

nav a {
    text-decoration: none;
    color: #bac2de;
}

nav {
    display: grid;
    gap: 20px;
    background-color: #11111b;
}

.hidden {
    display: none;
}

@media(min-width:600px) {

    /*  fix this */
    nav.mynav {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        display: grid
    }

    .MenuButton {
        display: none
    }
}